<section class="about-section">
  <div class="content-box animate">

    <div class="avatar-container">
      <img src="/assets/yass.jpg" alt="avatar" class="avatar-img" />
      <div class="avatar-glow"></div>
    </div>

    <h1 class="title">Salut, je suis
      <span class="gradient-text">{{name}}</span>
    </h1>

    <h3 class="profession">{{profession}}</h3>

    <p class="description">{{description}}</p>

    <a href="#contact" class="btn neon-btn">Contactez-moi</a>

  </div>
</section>
