<nav class="navbar navbar-expand-lg glass-nav fixed-top">
  <div class="container">

    <a class="navbar-brand brand-gradient" href="#">Yassine.</a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link nav-link-custom" href="#home">Accueil</a></li>
        <li class="nav-item"><a class="nav-link nav-link-custom" href="#about">À propos</a></li>
        <li class="nav-item"><a class="nav-link nav-link-custom" href="#skills">Compétences</a></li>
        <li class="nav-item"><a class="nav-link nav-link-custom" href="#projects">Projets</a></li>
        <li class="nav-item"><a class="btn neon-btn-small" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
