<section class="about-section">
  <div class="content-box animate neon-border">

    <div class="avatar-container neon-avatar">
      <img src="/assets/yassino.jpg" alt="avatar" class="avatar-img" />
      <div class="ring-glow"></div>
      <div class="ring-rotate"></div>
    </div>

    <h1 class="title">
      Hello, I'm
      <span class="gradient-text">{{ name }}</span>
    </h1>

    <h3 class="profession">{{ profession }}</h3>

    <p class="description">
      {{ description }}
    </p>

    <a  class="btn neon-btn" [routerLink]="['/']" fragment="skills">Contactez-moi</a>

  </div>
</section>
